* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  border: 2px solid red;
}

.container-header {
  border: 2px solid red;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  /*display: flex;*/
}

.nav-item {
  background-color: #161d27;
  border: 1px solid turquoise;
}

#container-nav {
  background-color: #161d27;
  display: flex;
  /*flex-direction: column;*/
  border: 1px solid green;
}

.container.one {
  background-color: #1f2937;
  display: flex;
}

.container.two {
  background-color: cadetblue;
  display: flex;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
}

/* Call to Action */
.call-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.call-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 50px auto;
  width: 70%;
}

.call-button {
  border-radius: 10px;
  background-color: #3882f6;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  width: 150px;
  height: 35px;
}

strong,
.call-message {
  color: #ffffff;
}

strong {
  font-size: 24px;
}

/* Footer */
footer {
  color: #f9faf8;
  background-color: #1f2937;
  justify-content: center;
  display: flex;
}
