* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  border: 2px solid red;
}

.container-header {
  border: 2px solid red;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  /*display: flex;*/
}

.nav-item {
  background-color: #161d27;
  border: 1px solid turquoise;
}

#container-nav {
  background-color: #161d27;
  display: flex;
  /*flex-direction: column;*/
  border: 1px solid green;
}

/* Website Section */
.website-section {
  color: #e5e7eb;
  background-color: #1f2937;
  display: flex;
  flex: 1 1 auto;
  padding: 70px 100px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.website-left {
  /*border: 1px solid green;*/
  height: 300px;
  width: 600px;
  justify-content: center;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.left-lead {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.website-button {
  color: #f9faf8;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 10px;
  width: 150px;
  height: 30px;
}

.website-right {
  background-color: gray;
  /*border: 1px solid red;*/
  height: 300px;
  width: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* ------ Random Info ------ */
.info-header {
  padding: 30px 0px;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.item-container {
  display: flex;
  /*border: 2px solid green;*/
  align-items: flex-start;
  justify-content: space-around;
  padding: 0px 400px 100px;
}

.item-one,
.item-two,
.item-three,
.item-four {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /*border: 1px solid red;*/
}

.item-container .item-box {
  border: 4px solid #3882f6;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.item-container .item-text {
  text-align: center;
  color: lightslategray;
  font-style: italic;
  margin: 10px 0px;
}

/* ------ Quote ------ */
.quote-section {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

.quote-container {
  width: 800px;
  max-width: 100%;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300px;
  color: #1f2937;
  margin: 0;
}

.quote-source {
  margin: 10px 0 0 0;
  text-align: right;
  font-weight: bolder;
  font-size: 24px;
  color: #1f2937;
}

/* ------ Call to Action ------ */
.call-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.call-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 30px 60px;
  width: 50%;
}

.call-left {
  max-width: 600px;
}

.call-button {
  border-radius: 10px;
  background-color: #3882f6;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  width: 80px;
  height: 35px;
}

strong,
.call-message {
  color: #ffffff;
}

strong {
  font-size: 24px;
}

/* ------ Footer ------ */
footer {
  color: #f9faf8;
  background-color: #1f2937;
  justify-content: center;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
